
body {
    font-family: sans-serif;
    background-color: cornsilk;
}

h1 {
    font-family: 'Pacifico', Elephant;
}

h3 {
    font-family: 'Merriweather', Times;
}

::-webkit-scrollbar {
    width: 14px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: #51AD2A;
    background-clip: padding-box;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #51AD2A;
    }

#buttons {
    float: right;
    font-family: 'Merriweather', Times;
    padding: 5px;
    clear: none;
    margin-top: 25px;
    margin-right: 20px;
    display: grid;
    align-content: center;
    position: relative;
}

#links {
    color: white;
    background-color: #FF4F4F;
    text-decoration: none;
    padding: 2px 8px 2px 8px;
    text-align: center;
}


a {
    text-decoration: none;
    color: white;
}

label {
    float: left;
    clear: left;
}

input {
    float: left;
    clear: left;
    margin-top: 5px;
}

select {
    margin-left: 4px;
    padding: 2px;
}

h1 {
    font-family: 'Pacifico', cursive;
}

h2 {
    font-family: 'Pacifico', cursive;
}

h3 {
    font-family: 'Merriweather', Times;
}

button {
    background-color: #FF4F4F;
    width: 100%;
    color: black;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}

input[type=text] {
    width: 50%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #51AD2A;
    box-sizing: border-box;
}

#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #table td, #table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #table tr:hover {
        background-color: #ddd;
    }

    #table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #FF4F4F;
        color: white;
    }

button:hover {
    opacity: 0.7;
}


/* ------------------------------------------------------------ Input Page ---------------------------------------------------------------------- */
#iCategory { /*, #iExpirationDate */
    font-size: 15px;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #51AD2A;
    box-sizing: border-box;
    float: left;
    clear: left;
}

/* ------------------------------------------------------------ Home Page ----------------------------------------------------------------------- */

/* ------------------------------------------------------------ Login Page ---------------------------------------------------------------------- */

/* ------------------------------------------------------------ Pantry Page ---------------------------------------------------------------------- */

/* ------------------------------------------------------------ New Account Page ----------------------------------------------------------------- */

/* ------------------------------------------------------------ Login Page ---------------------------------------------------------------------- */

